BOT_TOKEN=8513448537:AAHaMxEiXyYgjPig38XxMWqMx_AwGau2pX4
ADMIN_ID=5990633352

GIGACHAT_CREDENTIALS=MDE5ZDM1Y2ItNGZhMC03N2Q0LWE0MmQtMmY0OTdjMzM2MzNiOjY5OGYwODY1LTk5MTItNGRkNy1hYWZjLTdkNmRjOTYzNDRjOQ==
GIGACHAT_MODEL=GigaChat
GIGACHAT_VERIFY_SSL=false

DB_PATH=bot.db
DIALOG_CONTEXT_LIMIT=12